@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.animated-grid {
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to right, rgba(255, 165, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 165, 0, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
}

@keyframes gridAnimation {
  0% {
    opacity: 0;
    background-size: 100px 100px;
  }
  50% {
    opacity: 1;
    background-size: 50px 50px;
  }
  100% {
    opacity: 0;
    background-size: 25px 25px;
  }
}

.animated-grid {
  animation: gridAnimation 1s ease-in-out;
}
